/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-blue: #0a043c;
  --color-yellow: #ff9642;
  --color-orange: #fecd1a;

  /* Font size */
  --font-large: 40px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
  line-height: 1.5;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 0 16px;
  transition: all 300ms ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: #0a043c;
  padding: 0 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--font-regular);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__menu__item:hover {
  background-color: var(--color-orange);
}

/* banner */
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/homebackground.png) center/cover no-repeat;

  padding: 40px;
  padding-top: 130px;
  text-align: center;
  height: 50vh;
}

/* Home */
#home {
  padding: 40px;
  padding-top: 130px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
}

.home__title,
.home__description {
  color: black;
}

.home__contact {
  color: black;
  font-size: var(--font-small);
  margin: 20px;
  padding: 12px 22px;
  border: 2px solid var(--color-white);
  border-radius: 24px;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.section__container {
  max-width: 1500px;
  margin: 0 auto;
}

/* About */
#about {
  width: 70%;
  margin-top: 80px;
}

.about__me {
  margin-bottom: 24px;
  background-image: linear-gradient(
    transparent,
    transparent 70%,
    var(--color-orange) 0,
    var(--color-orange) 85%,
    transparent 0
  );
  display: inline;
}

.major {
  flex-basis: 33.3%;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 80px 0;
}

.major__icon {
  width: 130px;
  height: 130px;
  font-size: 70px;
  line-height: 130px;
  color: var(--color-blue);
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
}
.major__icon i {
  transition: all 300ms ease;
}
.major__icon:hover i {
  color: var(--color-orange);
  transform: rotate(30deg) scale(1.1);
}

/* Work */
.section__work {
  text-align: center;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.section__container > h1 {
  background-image: linear-gradient(
    transparent,
    transparent 70%,
    var(--color-orange) 0,
    var(--color-orange) 85%,
    transparent 0
  );
  display: inline;
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-blue);
  border-radius: var(--size-border-radius);
  font-size: 16px;
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-blue);
  color: white;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  border: 1px solid;
  background-color: var(--color-orange);
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all 200ms ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.9) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 270px;
  margin: 2px;
  background-color: white;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0; /*position absolute하면 위치도 같이 지정해줘야함. top이랑 left로. 그리고 .project도 relative로 바꿔줌*/
  background-color: var(--color-blue);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in;
}

.project:hover .project__description {
  /*프로젝트에 hover되면 descrition에 효과주는거임*/
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: white;
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background-color: var(--color-orange);
  margin-top: 8px;
}

/* Skill */
.section__skills {
  margin: 180px auto;
  text-align: center;
}

.skill__button {
  font-size: 16px;
  background-color: var(--color-blue);
  color: white;
  border: 1px solid var(--color-blue);
  border-radius: 32px;
  margin: 8px 6px;
  padding: 8px 16px;
}

.skills__words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
}

.skills__words__first {
  margin-bottom: 30px;
}

/* contact */
#contact {
  background-color: #d6e0f0;
}

.section__contact {
  text-align: center;
  padding: 35px;
}

.contact__title:before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 2px;
  margin-bottom: 12px;
  border-top: 0.5rem double var(--color-orange);
}

.contact__title,
.contact__email {
  color: var(--color-blue);
}

.contact__email {
  font-size: 18px;
}

.contact__email:hover {
  text-decoration: underline;
}

.contact__links {
  font-size: var(--font-medium);
  margin: 20px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-orange);
}

.fa-github {
  padding-right: 8px;
  color: var(--color-blue);
}

.fab {
  color: var(--color-blue);
}

/* arrow up */
.arrow-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 35px;
  color: var(--color-orange);
  display: none;
}

.arrow-up.visible {
  display: block;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  #navbar,
  #navbar.navbar--dark {
    flex-direction: column;
    padding-top: 16px;
  }

  h1 {
    font-size: var(--font-medium);
  }

  .home__contact {
    margin: 0;
  }

  #about {
    width: 100%;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .category__btn {
    width: 70%;
  }

  .skill__button {
    margin-top: 16px;
  }

  .project {
    flex-grow: 1;
  }

  .arrow-up {
    right: 20px;
    font-size: 30px;
  }
}
