*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25) 0.125em 0.125em 0.25em
    rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*General style*/

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: var(--fw-bold);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*typocraphy*/
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
  font-weight: var(--fw-reg);
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: 20px;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 0 16px;
  transition: all 300ms ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: #f5f4f4;
  padding: 0 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--font-regular);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__menu__item:hover {
  background-color: var(--clr-accent);
}

/* banner */
.intro {
  position: relative;
  padding-top: 15rem;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    min-height: 280px;
    position: relative;
    background-size: cover;
    object-fit: cover;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.section__container {
  max-width: 1500px;
  margin: 0 auto;
}

/*  Skills */
.my-services {
  background-color: var(--clr-dark);
  background-image: url(img/background.JPG);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
  font-weight: var(--fw-bold);
}

.section__title--services::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.5;
}

.services {
  margin-bottom: 3em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.section__skills {
  margin: 180px auto;
  text-align: center;
}

.skill__button {
  font-size: 16px;
  background-color: var(--clr-accent);
  color: black;
  border: 1px solid var(--clr-accent);
  border-radius: 32px;
  margin: 8px 6px;
  padding: 8px 16px;
  font-weight: bolder;
}

.skills__words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
}

.skills__words__first {
  margin-bottom: 30px;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}

/* About */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
    font-weight: var(--fw-bold);
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 3em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
  }
}

/* Work */
.section__title--work {
  font-weight: var(--fw-bold);
}

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
}

.portfolio__img:hover .portfolio__img {
  transform: scale(1, 2);
  opacity: 0.75;
  font-weight: var(--fw-reg);
}

/* footer*/
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;

  font-weight: var(--fw-bold);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-h3);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.5em;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* arrow up */
.arrow-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 30px;
  color: var(--clr-accent);
  display: none;
  background-color: transparent;
  border: none;
}

.arrow-up.visible {
  display: block;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  #navbar,
  #navbar.navbar--dark {
    flex-direction: column;
    padding-top: 16px;
  }

  .arrow-up {
    right: 20px;
    font-size: 30px;
  }
}
